@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The owner of this app is Atul Rana.<br /> Started this project 20 days ago.<br /> Have been studing this course for 4 months and applied the given knowledge in the project.<br /> It is a simple project but took alot of hardwork with the pressure of other courses.<br /> Hope you will like the project<br/> Thank you <br /> <b>Atul Rana</b></p>
