@{
    ViewBag.Title = "Home Page";

}
   
<div align="center">

    <h1>TaskMe</h1>
    
</div>
<blockquote class="blockquote">
    <p class="mb-0" color="white"> It is an app that helps one to store any task given to a specific person and can be seen by everyone in the company. </p>
    <footer class="blockquote-footer"><cite title="Source Title">Atul Rana</cite></footer>
</blockquote>
